.donate-button a {
  margin-left: 10em;
  padding: 0.5em;
  border: 3px solid red;
  border-radius: 5px;
  font-weight: 500;
  height: 3em;
  font-size: x-large;
  background-color: snow;
}

.items-paging td {
  height: 2em;
}

.items-paging input {
  width: 2em;
}

.clear-search {
  cursor: pointer;
}

.pager-active svg {
  cursor: pointer;
}

.pager-inactive svg {
  color: grey;
}

.pager-padder {
  width: 15%;
}

.pager {
  width: 5%;
}

.pager-counter {
  width: 20%;
}

.limit-updater {
  width: 20%;
}

.itemInput {
  padding: 0.2em;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  border: none;
  -webkit-border-radius: 1px;
  border-radius: 1em;
  width: 80%;
  font-size: 1em;
}

.search-table {
  width: 100%;
}

.search-bar {
  width: 30%;
  border: 2px solid gray;
  border-radius: 1em;
}

.searchInput {
  width: 65%;
  border: none;
  border-radius: 5px;
  padding-left: 2em;
  font-size: larger;
}

.search-form {
  padding: 1em;
  display: flex;
}

.search-bar input {
  border: none;
}

.search-bar svg {
  cursor: pointer;
}

.table {
  width: 100%;
  border: 1px solid lightslategray;
  border-radius: 0.1px;
  font-size: large;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
}

.table td {
  padding: 0;
  border: 1px solid lightgray;
  border-radius: 0.1px;
}

.item-table-save svg {
  cursor: pointer;
  color: green;
}

.item-table-disabled svg {
  color: grey;
}
.item-table-delete svg {
  cursor: pointer;
  color: red;
}

.table-sort-icon {
  cursor: pointer;
  background-color: gray;
  border: 0.05em solid gray;
  border-radius: 2em;
  float: right;
}

.item-table-editing svg {
  cursor: pointer;
  color: blue;
}
