.blog-container {
  border: 2px solid gray;
  border-radius: 5px;
  padding: 10px;
}

.bb-post-link {
  border: 1px solid gray;
  padding: 5px;
  margin: 5px;
  box-shadow: slategray;
  border-radius: 5px;
  display: flex;
}

.bb-post-link:hover {
  background: whitesmoke;
  cursor: pointer;
}

.bb-front-page {
  margin: 10px;
  padding: 10px;
}

.post-image {
  padding-right: 10em;
  height: 10em;
  width: 10em;
}
